
.tabbar{
    display: flex;
    list-style: none;
    position: relative;
    left: 125%;

    bottom: 71px;
}

.container{
    padding: 15px;
}
.content-1{
    display: flex;
    background-image: url("https://cybersoft-meipaly.vercel.app/img/home_slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-bottom: 31%; */
}
.fab{
    font-weight: 400;
    font-size: 85px;
    color: white;
}
.meipaly{
    display: flex;
    padding-left: 22%;
    padding-top: 8%;
    color: white;
}
.carousel-content{
    text-align: center;
    color: white;
    padding-top: 13%;
}
.fontP{
    font-size: 25px;
}
.fontP2{
    font-size: 20px;
    line-height: 93px;
}
.btnREAD{
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s;
}
.content2{
    width: 75%;
    margin: 0 auto;
    letter-spacing: 1px;
}
.title{
    width: 75%;
    margin: 0 auto;
    letter-spacing: 1px;
}
.service{
    text-align: center;
    padding: 90px 0;
    background-color: black;
}
.colorRED{
    color: red;
}
.colorWhite{
    color: white;
}
.textimgcenter{
    text-align: center;
}